# Base style configuration for the project
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
AccessModifierOffset: -2
NamespaceIndentation: None
BreakBeforeBraces: Allman
SpacesInParentheses: false
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
AlignAfterOpenBracket: Align
DerivePointerAlignment: false
PointerAlignment: Left
